* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}


/* header */
header {
  margin: -66px 20px 20px 20px;
  padding: 7px 0px 0px 0px;
}

header a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

header>div {
  display: flex;
  justify-content: space-between;
}

header>div>div:nth-of-type(1) {
  display: flex;
  align-items: center;
}

/* header div left */
header>div>div:nth-of-type(1)>div:nth-of-type(1) {
  background: url(../images/media/Netflix-Logo.svg);
  width: 113px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

header>div>div:nth-of-type(1)>span {
  font-size: 15px;
  font-weight: 700;
  /* margin-left: 10px; */
}

header>div>div img {
  width: 30px;
}

/* header div right */
header>div>div:nth-of-type(2)>span>a>img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

header>div>div:nth-of-type(2)>span>a {
  padding: 8px 15px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  border-radius: 2px;
  animation: backgrund-color;
  transition-duration: 0.5s;
  margin: 0 2px;
}

header>div>div:nth-of-type(2)>span>a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 0.5s;
}

header>div>div:nth-of-type(2)>span:nth-of-type(5)>a {
  border: solid 0.1px gray;
}

header>div>div:nth-of-type(2)>span:nth-of-type(6)>a {
  background-color: red;
}

header>div>div:nth-of-type(2)>span:nth-of-type(6)>a:hover {
  background-color: rgb(178, 7, 16);
}

header>div>div:nth-of-type(2)>a>img {
  width: 20px;
  padding: 10px;
  vertical-align: middle;
  box-sizing: content-box;
}

/* focus's header */
header>div>div:nth-of-type(2)>span:nth-of-type(1)>div {
  background-color: rgb(22, 22, 22);
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s all;
  top: 0;
  left: 0;
  width: 100%;
}

.containerHeader2 {
  display: none;
  min-width: 200px;
}

/* netflix logo */
.netflixLogoo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.active {
  left: 0;
  transform: translateY(0px) !important;
  z-index: 10;
}

.div-top-hover-language {
  width: 100%;
  height: 200px;
  background-color: rgba(35, 35, 35, 1);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.div-top-hover-language>h1 {
  color: white;
  font-size: 20px;
}

.div-bottom-hover-language {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.div-bottom-hover-language>div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.div-bottom-hover-language>div>a {
  padding: 15px 200px 15px 30px;
}

.div-bottom-hover-language>div>a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#close-button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  border: none;
}

/* Start Intro Section */

#intro-section {
  background: url("../images/media/media-header-bg.png");
  background-size: contain;
  border: none;
}

#intro-section>.middle-intro {
  display: flex;
  flex-direction: column;
  max-width: 100vh;
  margin: 0 auto;
}

#intro-section h1 {
  text-align: center;
  font-size: 45px;
}

/* Search Input */

.intro-input input {
  width: 90%;
  height: 35px;
  text-align: left;
  background: transparent;
  border: none;
  color: #f0f0f0;
  font-size: 15px;
  font-weight: 500;
}

.intro-input input:focus {
  outline: none;
}

.intro-input {
  width: 100%;
  height: 50px;
  margin: 0px auto;
  border: 1px solid #9392926e;
  padding-left: 8px;
  border-width: thin;
  border-radius: 3px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Search Input box */
#search-box {
  border-radius: 55px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

/* Magnifier (search Icon) image */

#SearchIcon {
  width: 45px;
  cursor: pointer;
  background: transparent;
  padding: 11px 10px;
}

/* Search Input */
.search-input input {
  font-size: 20px;
  width: 0;
  border: 0;
  background: transparent;
  outline: none;
  color: #f1f1f1;
  transition: .3s;
}

.search-input {
  position: absolute;
  right: 30px;
  top: 7px;
}

/* Giving style to active mode (after clicking) */
.active input {
  width: 850px;
  padding: 10px 10px;
  background: #212121;
}

.active #SearchIcon {
  background: #212121;
}

/* Header Media Start................................................*/

.hamburgerMenu {
  display: none;
}


@media screen and (max-width:1100px) {

  .unvisibleMenu {
    display: none;
  }

  .hamburgerMenu {
    display: block;
    width: 25px;
    height: 25px;
  }


  .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

}

@media screen and (max-width:900px) {

  .containerHeader2 {
    display: flex;
    align-items: center;
  }

  .containerHeader {
    display: none;
  }

  .netflixLogoo {
    flex-direction: column;
  }

  #search-box {
    width: 200%;
    display: flex;
    justify-content: space-between;
  }
}

/* Header Media Finish.................................................*/


/* start css for part 2 */
body {
  background-color: rgb(15, 15, 15);

}

a {
  text-decoration: none;
}

/* shoro line2-part1 */
.line2-part1 {
  margin-top: 40px;
}

/*shoro css baray menu */
ul {
  list-style: none;
  font-size: 25px;
  color: white;
  background-color: rgb(15, 15, 15);
}

ul li {
  color: white;
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 8px 14px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 25px;
  ;
  background-color: rgb(15, 15, 15);
}

ul.dropdown {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

/* css baray menu option */
.menu-option {
  text-align: center;
  padding: 8px 15px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  display: block;
  position: absolute;
  z-index: 999;
  display: none;
}

/* css baray hover menu option */
.menu-option:hover {
  background-color: #232323;
}

ul li a:hover {
  background-color: #232323;
}

ul li a:active {
  background-color: #232323;
}

ul li:hover ul.dropdown {
  display: block;
}

/* payan css baray menu */


/* start line2-part2 */
.line2-part2 {
  margin-top: 25px;
  display: flex;
  width: 100%;
}

.line2-part2>a {
  font-size: 18px;
  color: white;
  background-color: #4e4e4e;
  border-radius: 5px;
  
  padding: 15px 20px;
  margin: 10px 8px;

  min-width: max-content;
  min-height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.line2-part2>a:hover {
  background-color: #3f51b5;

}

.line {
  border: 1px solid rgb(148, 147, 147);
}

/* shoro line3 */

/*shoro line3 part1 */
.line1 {
  width: 70%;
}

.line3-part1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.line3-part1>div {
  border: 8%;
  background-color: rgb(15, 15, 15);
  margin: 20px;
  width: 220px;
  height: 336px;
}

.line3-part1>div {
  margin-bottom: 45px;
}

.line3-part1>div>a>img {
  width: 220px;
  height: 336px;
}

.line3-part1>div>a>span {
  text-decoration: none;
  padding: 10px 0px;
  color: white;
}

/* css baray hover div image ha */
.line3-part1>div:hover {
  transform: scale(1.05);
  transition: 0.5s all;
}

/* payan line3 part1 */

/* kod haye css baray line dokmey show more */
/* more line */
.more-line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90px;
  background-color: rgb(15, 15, 15);
}

.more-line>div {
  margin: 60px 0px;
}

.more-line>div>a {
  box-sizing: inherit;
  color: rgb(255, 255, 255);
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 12px;
  background-color: rgb(15, 15, 15);
  border-radius: 4px;
}

.more-line>div>a:hover {
  background-color: #232323;
}

/* payan line3 */
/* end css for part 2 */


/* Section1 Media Start................................................*/

@media screen and (max-width:850px) {
  .line2-part2 {
    overflow-x: scroll;
  }
}

/* Section1 Media Finish.................................................*/