/* Import fonts */
@font-face {
    font-family: netflix-sans;
    src: url(../fonts/netflix-sans/NetflixSans-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: netflix-sans;
    src: url(../fonts/netflix-sans/NetflixSans-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: netflix-sans;
    src: url(../fonts/netflix-sans/NetflixSans-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: netflix-sans;
    src: url(../fonts/netflix-sans/NetflixSans-Bold.otf);
    font-weight: 900;
}

/* General Changes START */
* {
    font-family: netflix-sans;
}


body {
    background-color: black;
}

section,
footer {
    border-top: 8px solid #2d2d2d;
    border-bottom: 8px solid #2d2d2d;
    color: white;
    padding: 72px;

}

footer {
    padding: 72px !important;
}

section h2 {
    font-size: 3rem;
    font-weight: 900;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* start of landing page */
/* ad-banner top of the landing page */
.ad-banner {
    background-color: #fff;
    text-align: center;
    margin-top: -7px;
    height: 80px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}


/* learn more > link */
.ad-banner a {
    text-decoration: none;
    color: #0071eb;
    margin-left: 30px;
    font-weight: bold;
}

.right-Arrow {
    border: 1px solid #0071eb;
    padding: 5px;
    border-width: 0 3px 3px 0;
    transform: rotate(-41deg);
    margin-bottom: -2px;
    display: inline-block;
}

/* new! btn */
.ad-banner span:nth-child(1) {
    background-color: #e50914;
    padding: 3px 10px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.ad-banner span:nth-child(3) {
    font-weight: bold;
    margin-left: 5px;
    font-size: 25px;
}

#landing-page {
    background-image: url(../images/landing-page-img/landingPage-bg.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 500px 100px #000000;
    border: none;
    position: relative;
    padding: 0;
}


/* start of top-nav */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    padding-top: 50px;
}


/* sing in and language btn */
.top-nav .nav-btns {
    display: flex;
    gap: 20px;
}

/* netflix logo */
.top-nav img {
    width: 200px;
}

/* sing in btn */
.top-nav button {
    cursor: pointer;
    background-color: #e50914;
    color: #fff;
    padding: 0px 20px;
    border-radius: 5px;
    border: none;
}


.set-language {
    padding: 5px 10px;
    background-color: #000000b1;
    border-radius: 5px;
    border: 1px solid #707070;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

}

/* language icon in btn  */
.set-language img {
    width: 20px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* end of top-nav */

/* start of header text */
.header-text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 250px;
}

.header-text h1 {
    font-size: 50px;
    color: #ffffff;
}

.header-text span {
    font-size: 20px;
    font-weight: 300;
}

/* =-=-=-=-=-=-=-=-=-=- */
/* end of header text */

.getStart-inputs {
    margin-top: 50px;
    padding-bottom: 200px;
    gap: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getStart-inputs input {
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(24, 24, 24, 0.7);
    padding: 20px;
    width: 350px;
    color: white;
}

.getStart-inputs button {
    background-color: #e50914;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

.right-Arrow2 {
    border: 1px solid #fff;
    padding: 5px;
    border-width: 0 3px 3px 0;
    transform: rotate(-40deg);
    margin-bottom: 3px;
    display: inline-block;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* end of landing page */


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Start of netflix option sections  */
.enjoyTv,
.watchEverywhere,
.kidProfile,
.watchOffline {
    display: flex;
}

.enjoyTv-img,
.watchEverywhere-img,
.watchOffline-img {
    position: relative;
}
/*  enjoyTv img section */
.enjoyTv-img img {
    max-width: 600px;
}

.enjoyTv-vid {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: -1;
}
/*  watchEverywhere video section */
.watchEverywhere-vid video {
    max-width: 400px;
}

.watchEverywhere-vid {
    position: absolute;
    top: 50px;
    left: 115px;
    z-index: -1;
}

/*  download box div */
.download-box {
    width: max-content;
    border: 2px solid #2f2f2f;
    background-color: #000000;
    display: flex;
    align-items: center;
    border-radius: 11px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 164px;
}

.download-box img:first-of-type {
    max-width: 60px;
    margin-right: 15px;
}

.title-download-box span {
    display: flex;
}

.title-download-box span:last-of-type {
    font-size: 14px;
    color: #003cff;
    padding-top: 5px;
}

.download-box img:last-of-type {
    max-width: 50px;
    margin-left: 50px
}

/* all paragraphs */
.enjoyTv > div,
.watchEverywhere > div,
.kidProfile > div,
.watchOffline > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
/* End of netflix option sections  */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* General Changes END */

/* FAQ sections START */


#faq .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* faq h2 */
#faq h2 {
    text-align: center;
    padding-bottom: 20px;
}

/* accordion box START */
.active {
    max-height: 75rem !important;
}

.rotate {
    transform: rotate(135deg);
}

/* whole box */
#accordion-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

/* each box */
.accordion-item-box {
    width: 80%;
}

/* headers */
.accordion-header {
    background-color: #2d2d2d;
    padding: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
    margin-bottom: 1px;
    user-select: none;
    font-size: 1.5rem;
    font-weight: 300;
}

.accordion-header:hover {
    background-color: rgb(75, 73, 73);
}

.header-icon {
    font-size: 3rem;
    transition: all 0.25s cubic-bezier(1, 0, 0.1, 1) 0s;
}

.accordion-body {
    background-color: #2d2d2d;
    color: white;
    max-height: 0;
    transition: all 0.25s cubic-bezier(1, 0, 0.1, 1) 0s;
    margin-bottom: 8px;
    padding: 0;
    overflow: hidden;
    padding-inline: 1.5rem;

}

.accordion-body p {
    font-weight: 300;
    padding-block: 1.5rem;
}

.accordion-body a {
    color: white;
}

/* accordion box END */

/* email address */
#email-address {
    width: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 300;
}

#email-address p {
    text-align: center;
}

#email-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#email-input-box input {
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #000000;
    padding: 15px;
    width: 350px;
    color: white;
}

#email-input-box button {
    cursor: pointer;
    border: none;
    padding: 10px 30px;
    background-color: red;
    color: white;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 1.5rem;
}

/* FAQ sections END */

/* footer START */
footer {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: .89rem;
}

footer a {
    color: rgba(255, 255, 255, 0.7);
}

#footer-links {
    margin-top: 20px;
}

#footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#footer-links li {
    flex: 1;
    padding: 10px;
    min-width: 300px;
}

/* footer END */

/* responsive */
@media only screen and (width >=1000px) {

    /* sections h2 tag */
    #accordion-box {
        width: 100%;
    }
}

@media only screen and (width >=2200px) {

    /* sections h2 tag */
    #accordion-box {
        width: 200%;
    }
}

@media only screen and (width >=3000px) {

    /* sections h2 tag */
    #accordion-box {
        width: 300%;
    }

}




/* 768px */
@media only screen and (max-width:768px) {

    /* sections h2 tag */
    section h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    #email-input-box button {
        padding: 10px 25px;
        font-size: .8rem;
    }

    #email-input-box input {
        padding: 10px 25px;
    }


    /* netflix option sections responsive */
    .enjoyTv,
    .watchEverywhere,
    .kidProfile,
    .watchOffline {
        align-items: center;
    }

    .enjoyTv {
        flex-direction: column;
    }
    .enjoyTv img {
        width: 350px
    }
    .enjoyTv video {
        width: 260px;
    }
    .enjoyTv-vid {
        top: 50px;
        left: 46px;
    }

    .watchEverywhere {
        flex-direction: column-reverse;
    }
    .watchEverywhere img {
        width: 350px;
    }
    .watchEverywhere video {
        width: 220px;
    }
    .watchEverywhere-vid {
        top: 30px;
        left: 65px;
    }

    .kidProfile{
        flex-direction: column;
    }
    .kidProfile img {
        width: 350px;
    }

    .watchOffline {
        flex-direction: column-reverse;
    }
    .watchOffline img {
        width: 400px;
    }

    .download-box img {
        width: 40px;
    }
    .download-box img:last-of-type {
        width: 30px;
        margin-left: 30px
    }
    .title-download-box span:first-of-type {
        font-size: 12px;
    }
    .title-download-box span:last-of-type {
        font-size: 10px;
    }
    .download-box {
        left: 85px;
        bottom: 15px;
    }
}

/* 425px */
@media only screen and (max-width:425px) {

    /* sections h2 tag */
    section h2 {
        font-size: 1rem;
        font-weight: 900;
    }

    /* accordion START */
    .accordion-body p,
    .accordion-header {
        font-size: 1rem;
    }

    .accordion-header {
        gap: 30px;
    }

    .header-icon {
        font-size: 1rem;
    }

    #accordion-box {
        width: 150%;
    }

    /* accordion END */

    /* email address START */

    #email-address {
        width: 200px;
    }

    #email-input-box input {
        width: 250px;
        padding: 10px 25px;
    }

    #email-input-box button {
        padding: 10px;
        font-size: .8rem;
        width: 100%;
    }

    #email-address p {
        font-size: small;
    }

    /* email address END */

    /* footer */
    #footer-links li {
        min-width: 100px;
    }


    /* netflix option sections responsive */
    .enjoyTv {
        flex-direction: column;
    }
    .enjoyTv img {
        width: 300px
    }
    .enjoyTv video {
        width: 240px;
    }
    .enjoyTv-vid {
        top: 45px;
        left: 40px;
    }

}

/* 320px */
@media only screen and (max-width:320px) {

    /* accordion box START */
    #accordion-box {
        width: 150%;
    }

    #email-address {
        width: 200px;
    }

    #email-input-box input {
        width: 180px;
    }

    #email-address p {
        font-size: small;
    }

    /* accordion box END */

    /* header icon */
    .header-icon {
        font-size: 1rem;
    }


    /* netflix option sections responsive */
    .enjoyTv img {
        width: 280px
    }
    .enjoyTv video {
        width: 210px;
    }
    .enjoyTv-vid {
        top: 44px;
        left: 37px;
    }

    .watchEverywhere img {
        width: 290px;
    }
    .watchEverywhere video {
        width: 180px;
    }
    .watchEverywhere-vid {
        top: 25px;
        left: 55px;
    }

    .kidProfile img {
        width: 290px;
    }
}