/* Import fonts */
@font-face {
    font-family: netflix-sans;
    src: url(../fonts/netflix-sans/NetflixSans-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: netflix-sans;
    src: url(../fonts/netflix-sans/NetflixSans-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: netflix-sans;
    src: url(../fonts/netflix-sans/NetflixSans-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: netflix-sans;
    src: url(../fonts/netflix-sans/NetflixSans-Bold.otf);
    /* font-weight: 900; */
}

/* General Changes START */
* {
    font-family: netflix-sans;
}


body {
    background-color: black;
}

section,
footer {
    border-top: 8px solid #2d2d2d;
    border-bottom: 8px solid #2d2d2d;
    color: white;
    padding: 72px;
}

section h2 {
    font-size: 3rem;
    font-weight: 900;
}

/* start of landing page */


/* ad-banner top of the landing page */
.ad-banner {
    background-color: #fff;
    text-align: center;
    margin-top: -7px;
    height: 80px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}


/* learn more > link */
.ad-banner a {
    text-decoration: none;
    color: #0071eb;
    margin-left: 30px;
    font-weight: bold;
}

.right-Arrow {
    border: 1px solid #0071eb;
    padding: 5px;
    border-width: 0 3px 3px 0;
    transform: rotate(-41deg);
    margin-bottom: -2px;
    display: inline-block;
}

/* new! btn */
.ad-banner span:nth-child(1) {
    background-color: #e50914;
    padding: 3px 10px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.ad-banner span:nth-child(3) {
    font-weight: bold;
    margin-left: 5px;
    font-size: 25px;
}

#landing-page {
    background-image: url(/assets/images/landing-page-img/landingPage-bg.jpg);
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0px 0px 500px 100px #000000;
    padding: 0;
    border: none;
    position: relative;
}







/* start of top-nav */
.top-nav {
    display: flex;
    margin-top: 20px;
    width: 80%;
    justify-content: space-between;
    margin: 5% auto;
    align-items: center;
    /* background-color: azure; */
}


/* sing in and language btn */
.top-nav .nav-btns {
    display: flex;
    justify-content: space-around;
    /* background-color: #fff; */
}

.set-language {
    padding: 10px 30px;
    background-color: #000000b1;
    border-radius: 5px;
    border: 1px solid #707070;
    margin-right: 5px;
}

/* netflix logo */
.top-nav svg {
    width: 100px;
    fill: #e50914;
}

/* sing in btn */
.top-nav button {
    cursor: pointer;
    background-color: #e50914;
    color: #fff;
    padding: 0px 30px;
    border-radius: 5px;
    border: none;
}

/* set-language btn  */
.set-language {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* language icon in btn  */
.set-language img {
    width: 25px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* end of top-nav */

/* start of header text */
.header-text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
}

.header-text h1 {
    font-size: 50px;
    color: #ffffff;
}

.header-text span {
    font-size: 20px;
    font-weight: 300;
}

/* =-=-=-=-=-=-=-=-=-=- */
/* end of header text */

.getStart-inputs {
    width: 80%;
    margin: 10% auto;
    text-align: center;
    /* background-color: #fff; */
    display: flex;
}

.getStart-inputs input {
    width: 50%;
    height: 70px;
    background-color: #000000a7;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    margin-right: 20px;
}

.getStart-inputs button {
    width: 50%;
    background-color: #e50914;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.right-Arrow2 {
    border: 1px solid #fff;
    padding: 5px;
    border-width: 0 3px 3px 0;
    transform: rotate(-40deg);
    margin-bottom: 3px;
    display: inline-block;

}










/* General Changes END */

/* FAQ sections START */


#faq .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* faq h2 */
#faq h2 {
    text-align: center;
    padding-bottom: 20px;
}

/* accordion box START */
.active {
    max-height: 75rem !important;
}

.rotate {
    transform: rotate(135deg);
}

/* whole box */
#accordion-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

/* each box */
.accordion-item-box {
    width: 80%;
}

/* headers */
.accordion-header {
    background-color: #2d2d2d;
    padding: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
    margin-bottom: 1px;
    user-select: none;
    font-size: 1.5rem;
    font-weight: 300;
}

.accordion-header:hover {
    background-color: rgb(75, 73, 73);
}

.header-icon {
    font-size: 3rem;
    transition: all 0.25s cubic-bezier(1, 0, 0.1, 1) 0s;
}

.accordion-body {
    background-color: #2d2d2d;
    color: white;
    max-height: 0;
    transition: all 0.25s cubic-bezier(1, 0, 0.1, 1) 0s;
    margin-bottom: 8px;
    padding: 0;
    overflow: hidden;
    padding-inline: 1.5rem;

}

.accordion-body p {
    font-weight: 300;
    padding-block: 1.5rem;
}

.accordion-body a {
    color: white;
}

/* accordion box END */

/* email address */
#email-address {
    width: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 300;
}

#email-address p {
    text-align: center;
}

#email-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#email-input-box input {
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #000000;
    padding: 15px;
    width: 350px;
    color: white;
}

#email-input-box button {
    cursor: pointer;
    border: none;
    padding: 15px 15px;
    background-color: red;
    color: white;
    vertical-align: middle;
    border-radius: 5px;
    width: 100%;
}

/* FAQ sections END */

/* footer START */
footer {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: .89rem;
}

footer a {
    color: rgba(255, 255, 255, 0.7);
}

#footer-links {
    margin-top: 20px;
}

#footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#footer-links li {
    padding: 10px;
    min-width: 300px;
}

/* footer END */

/* responsive */

/* 768px */
@media only screen and (max-width:768px) {

    /* sections h2 tag */
    section h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }

}

/* 425px */
@media only screen and (max-width:425px) {

    /* sections h2 tag */
    section h2 {
        font-size: 1rem;
        font-weight: 900;
    }

    /* accordion START */
    .accordion-body p,
    .accordion-header {
        font-size: 1rem;
    }

    .accordion-header {
        gap: 30px;
    }

    .header-icon {
        font-size: 1rem;
    }

    #accordion-box {
        width: 150%;
    }

    /* accordion END */

    /* email address START */

    #email-address {
        width: 200px;
    }

    #email-input-box input {
        width: 250px;
    }

    #email-input-box button {
        padding: 15px 8px;
        min-width: 90px;
    }

    #email-address p {
        font-size: small;
    }

    /* email address END */

    /* footer */
    #footer-links li {
        min-width: 100px;
    }
}

/* 320px */
@media only screen and (max-width:320px) {

    /* accordion box START */
    #accordion-box {
        width: 150%;
    }

    #email-address {
        width: 200px;
    }

    #email-input-box input {
        width: 180px;
    }

    #email-address p {
        font-size: small;
    }

    /* accordion box END */

    /* header icon */
    .header-icon {
        font-size: 1rem;
    }
}